/* styles.css */

.navbar {
    overflow: hidden;
    background-color: #0A0E17;
    display: flex;
    justify-content: space-between; /* Distributes the space between the items */
    align-items: center; /* Centers the items vertically */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-bottom: 1px solid rgb(43, 46, 59);
}

.navbar a {
    color: #fff; /* this is black, change to any color you prefer */
    text-align: left; /* aligns text to the left */
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: white;
}

.navbar img {
    height: 22px;
    vertical-align: middle;
}

.navbar-brand {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: flex-start; /* alignment to the top */
}

.navbar-logo {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: flex-start; /* alignment to the top */
}

body {
    margin: 0px;
    color:white;
}

.background {
    background-color: #0A0E17;
}

.navbar .navbar-logo img {
    height: 22px; /* adjust as necessary */
}

.my-checklist .Checklist-option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

ul li::marker{
    color: rgb(62, 199, 227);
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]){
    color:white !important;
}